<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Rutas</title>
</head>
<body>
    <h1>Lista de Rutas</h1>
    <table style="text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Distancia</th>
                <th>Dificultad</th>
                <th>Duracion</th>
                <th>Fotos</th>
                <th>Municipio</th>
                <th>Usuario</th>
                <th>Actividad</th>
                <th>Movilidad reducida</th>
                <th>Apto para niños</th>
                <th>Apto para perros</th>
            </tr>
        </thead>
        <tbody>         
            <tr th:each="ruta : ${rutas}">
                <td th:text="${ruta.id}"></td>
                <td th:text="${ruta.nombre}"></td>
                <td th:text="${ruta.descripcion}"></td>
                <td th:text="${ruta.distancia} + ' km'"></td>
                <td th:text="${ruta.dificultad}"></td>
                <td th:text="${ruta.duracion} + ' h'"></td>
				<td>
				    <span th:each="foto : ${ruta.fotos}">
						<img width="50%" th:src="'/imagenes/' + ${foto.src}">
					</span>
				</td>
                <!-- <td><img width="50%" th:src="'/imagenes/' + ${ruta.foto_url}"></td> -->
				<td>
				    <span th:each="municipio, iterStat : ${ruta.municipios}">
				        <span th:text="${municipio.nombre}"></span>
				        <!-- Agregar un guion después del nombre del municipio si no es el último elemento -->
				        <span th:unless="${iterStat.last}"> - </span>
				    </span>
				</td>
                <td th:text="${ruta.usuario}"></td>               
				<td>
				    <span th:each="actividad, iterStat : ${ruta.actividades}">
				        <span th:text="${actividad.nombre}"></span>
				        <!-- Agregar una coma después del nombre de la actividad si no es el último elemento -->
				        <span th:unless="${iterStat.last}">, </span>
				    </span>
				</td>
                <td th:text="${ruta.movilidad_reducida ? 'Sí' : 'No'}"></td>
                <td th:text="${ruta.apto_ninos ? 'Sí' : 'No'}"></td>
                <td th:text="${ruta.apto_perros ? 'Sí' : 'No'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>